.layout {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  min-height: 100vh;
}
.layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  // padding-left: 37%;
}
.layout-container {
  display: flex;
  flex: 1;
  -ms-flex: 1 1 auto;
  flex-direction: row;
}
.another-action {
  margin-top: 2rem;
  text-align: center;
}
.wrapper {
  background-color: #151a30;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
